<div class="top-row pl-4 navbar navbar-dark" style="background-color: #32353d;">
    <a class="navbar-brand" href="#">
          <img src="https://iflifedesign.com/wp-content/uploads/2018/02/iflifedesign_150h-98x150.png" alt="" width="30">
          Life Quiz 2030
        </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="oi oi-plus" aria-hidden="true"></span> About
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="rules">
                <span class="oi oi-person" aria-hidden="true"></span> Regole
            </NavLink>
        </li>
        
        <AuthorizeView>
            <Authorized>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="leaderboard">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Classifica
            </NavLink>
        </li>
        </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Admin">
            <Authorized>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="administration">
                <span class="oi oi-data-transfer-upload"></span> Gestione
            </NavLink>
        </li>
        </Authorized>
        </AuthorizeView>
        
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
