@page "/About"

<div class="container page-centered">
    <div class="row">
        <div class="col">
            <p>Il gioco Live Quiz 2030 si pone come obiettivo quello di mettere alla prova idee 
                e convinzioni e incrementare  informazioni aggiornate su alcuni temi, al centro 
                delle nostre vite, sui quali siamo soliti farci opinioni “una volta per tutte”.</p>
            <p>Perché è importante avere idee aggiornate? I perché sono molti, ma a noi piace dire questo. 
                Perché quello che pensiamo e diciamo è strettamente connesso con ciò che facciamo. 
                Ogni dire è un fare, diceva Austin. </p>

            <p>Prima di dire (e fare) mettiti alla prova con Live Quiz 2030 , suggeriamo noi! </p>

        </div>  
    </div>
</div>