@page "/Administration"
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="container page-centered">
<AuthorizeView Roles="Admin">
    <Authorized>
        <div class="row">
            <div class="col">
                <h1>Pannello di gestione Quiz</h1>
            </div>  
        </div>
        <div class="row">
            <div class="col">
                <a class="btn btn-primary btn-lg btn-block" href="upload" role="button">Carica nuove domande</a>
            </div>  
            <div class="col">
                <a class="btn btn-primary btn-lg btn-block" href="delete" role="button">Gestisci il quiz</a>
            </div>
        </div>
        <div class="row" style="margin-top:20px">
            <div class="col">
                <h5><a href="">Clicca qui</a> per scaricare il template per caricare le nuove domande</h5>
            </div>  
        </div>
         
    </Authorized>
   <NotAuthorized>
        <div class="row">
            <div class="col rounded-borders">
                Questi contenuti sono disponibili solo per gli amministratori del quiz 
            </div>
        </div>
   </NotAuthorized>
</AuthorizeView>
</div>