@page "/delete"

@inject IQuestionService QuestionService
@inject IBlobStorageService BlobStorageService

<div class="container page-centered">

<AuthorizeView Roles="Admin">
    <Authorized> 
         <div class="row">
            <div class="col">
                <h1>Attenzione</h1>
            </div>
         </div>
         <div class="row">
            <div class="col">
                Al momento ci sono dei contenuti attivi. Vuoi cancellarli? <br />
                Verranno cancellate sia le domande del quiz che le informazioni sullo sponsor <br /><br />
                <button type="button" class="btn btn-success btn-lg btn-block" 
                    @onclick="@(e => DeleteQuestions(e))">Elimina tutte le domande</button> <br /><br />
                Torna alla pagina <a href="/administration">di gestione</a>
            </div>
        </div>
        @if(deleteOp)
        {
            if(deleted)
            {
                <div class="row">
                    <div class="col rounded-borders">
                        Le domande sono state eliminate, il quiz è terminato. <br />
                        Torna alla pagina <a href="/upload">di caricamento</a> per caricare un nuovo quiz
                    </div>  
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col rounded-borders">
                        Non ci sono domande da eliminare. <br />
                        Torna alla pagina <a href="/upload">di caricamento</a> per caricare un nuovo quiz
                    </div>  
                </div>
            }
        }       
    </Authorized>
   <NotAuthorized>
       <div class="row">
            <div class="col rounded-borders">
                Questi contenuti sono disponibili solo per gli amministratori del quiz 
            </div>
        </div>
   </NotAuthorized>
</AuthorizeView>

</div>

@code 
{
    bool deleted = false;
    bool deleteOp = false;

    public async Task DeleteQuestions(MouseEventArgs e)
    {
        deleted = await QuestionService.DeleteAllQuestions();
        await BlobStorageService.DeleteAllBlobsAsync();
        deleteOp = true;
    }
}