@page "/"

<div class="container page-centered">
    <div class="row">
        <div class="col">
            <h1>Benvenuto!</h1>
            <p> descrizione del gioco, da capire bene cosa scrivere </p>
        </div>  
    </div>
    <AuthorizeView>
        <Authorized>
            <div class="row">
                <div class="col">
                    <a class="btn btn-primary" href="countdown" role="button">Inizia il quiz!</a>
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="row">
                <div class="col">
                    <h5>Per iniziare a giocare esegui il Login oppure registrati come nuovo utente</h5>
                    <a class="btn btn-primary" href="login" role="button">Login</a>
                    <a class="btn btn-primary" href="register" role="button">Registrati</a>

                </div>
            </div>
        </NotAuthorized>
    </AuthorizeView>

</div>

