@page "/"

@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="container page-centered">
    <div class="row">
        <div class="col">
            <h1>Benvenuto!</h1>
            <p> Siamo Daniela Rosas e Gloria Ferrero </p>
            <p> IF – Inventare il Futuro è il nostro progetto e nasce per sostenere le persone nella costruzione del proprio futuro </p>
            <p> <b>Il Life Design</b> è un nuovo approccio che permette alle persone di acquisire strumenti <b>operativi e concreti</b> per fare <b>scelte professionali sempre più efficaci</b>, in linea con i propri valori,  bisogni, desideri, creando così <b>occasioni di soddisfazione e benessere anche nella vita lavorativa</b>. </p>
            <p> Il nostro impegno è volto a favorire condizioni di lavoro dignitose per tutti e a sensibilizzare le persone a fare scelte professionali domandandosi rispetto a quali sfide ritengono di poter dare il proprio contributo, guardando dentro di sé ma anche al mondo intorno. </p>
            <p></p>
            <p><a href="/rules">Scopri come giocare</a></p>
        </div>  
    </div>
    <AuthorizeView>
        <Authorized>
            <div class="row">
                <div class="col">
                    <a class="btn btn-success" href="#" @onclick="@(e => RedirectTo(e))" role="button">Inizia il quiz!</a>
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="row">
                <div class="col">
                    <h5>Per iniziare a giocare esegui il Login oppure registrati come nuovo utente</h5>
                    <a class="btn btn-success" href="login" role="button">Login</a>
                    <a class="btn btn-success" href="register" role="button">Registrati</a>

                </div>
            </div>
        </NotAuthorized>
    </AuthorizeView>

</div>

@code
{

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
    }

    public void RedirectTo(MouseEventArgs e)
    {
        NavigationManager.NavigateTo("/countdown", true);
    }
}