@page "/Manage"

<AuthorizeView>
    <Authorized>
         <p> Gestione del quiz </p>
         <p> TODO => da capire come gestire questa parte </p>>
    </Authorized>
   <NotAuthorized>
       <p> Questi contenuti sono disponibili solo per gli amministratori del quiz </p>
   </NotAuthorized>
</AuthorizeView>