@page "/oldpage"

@inject IQuestionService QuestionService

<div class="container page-centered">

<AuthorizeView Roles="Admin">
    <Authorized> 
         <div class="row">
            <div class="col">
                <h1>Resetta il quiz</h1>
            </div>
         </div>
         <div class="row">
            <div class="col">
                <button type="button" class="btn btn-outline-primary btn-lg btn-block" 
                    @onclick="@(e => DeleteQuestions(e))">Elimina tutte le domande</button>
            </div>  
        </div>
        @if(deleted)
        {
            <div class="row">
                <div class="col rounded-borders">
                    Le domande sono state eliminate, il quiz è terminato. <br />
                    Torna alla pagina <a href="/upload">di carimento</a> per caricare un nuovo quiz
                </div>  
            </div>
        }       
    </Authorized>
   <NotAuthorized>
       <div class="row">
            <div class="col rounded-borders">
                Questi contenuti sono disponibili solo per gli amministratori del quiz 
            </div>
        </div>
   </NotAuthorized>
</AuthorizeView>

</div>

@code 
{
    bool deleted = false;

    public async Task DeleteQuestions(MouseEventArgs e)
    {
        deleted = await QuestionService.DeleteAllQuestions();
    }
}