@page "/Rules"

<div class="container page-centered">
    <div class="row">
        <div class="col">
            <h1>Come si gioca</h1>
            <h3>Siete pronti alla sfida? </h3>
            <div class="col rounded-borders">
                Ogni settimana, per 4 settimane, due Live tematici<br />
                10 domande, tre risposte possibili, una corretta. <br />
                10 secondi di tempo<br />
                Nel determinare il tuo punteggio sarà determinate anche la velocità della risposta
            </div>
            <h3>Buon Divertimento !!!</h3>
        </div>  
    </div>
</div>