@page "/Rules"

<div class="container page-centered">
    <div class="row">
        <div class="col">
            <h3>Come si gioca</h3>
        </div>
    </div>
     <div class="row">
        <div class="col">
            Siete pronti alla sfida?
        </div>
    </div>
    <div class="row">
        <div class="col">
            Collegati al link nella fascia di orario in cui il quiz verrà lanciato <br />
            Se no lo hai ancora fatto, registrati con un nome utente <br />
            Se ancora non lo sai, leggi chi è l'autore del quiz e quale argomento affronta <br />
        </div>
    </div>
     <div class="row">
        <div class="col rounded-borders">
            <b>Il gioco</b><br />
            10 domande, tre risposte possibili, una corretta. <br />
            15 secondi di tempo<br />
            Nel determinare il tuo punteggio sarà determinate anche la velocità della risposta
        </div>
    </div>
    <div class="row">
        <div class="col">
            <b>Buon Divertimento !!!</b>
        </div>  
    </div>
</div>